<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="menu_charity_dashboard_root" name="Charity Dashboard" sequence="10"/>

    <menuitem id="menu_charity_projects" name="Projects / Campaigns"
              parent="menu_charity_dashboard_root" action="action_charity_project" sequence="1"/>

    <menuitem id="menu_charity_donors" name="Donors"
              parent="menu_charity_dashboard_root" action="action_charity_donor" sequence="2"/>

    <menuitem id="menu_charity_donations" name="Donations"
              parent="menu_charity_dashboard_root" action="action_charity_donation" sequence="3"/>

    <menuitem id="menu_charity_requests" name="Help Requests"
              parent="menu_charity_dashboard_root" action="action_charity_request" sequence="4"/>

    <menuitem id="menu_charity_distributions" name="Distributions"
              parent="menu_charity_dashboard_root" action="action_charity_distribution" sequence="5"/>

    <!-- ✅ Add new tab for Crises -->
    <menuitem id="menu_charity_crises" name="Crises"
              parent="menu_charity_dashboard_root" action="action_charity_crisis" sequence="6"/>

</odoo>
